<div id="displaytasks">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/" class="navbar-brand">Task app</a>

            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/task" class="nav-link">Tasks</a>
                </li>
                <li class="navbar-item">
                    <a href="/add" class="nav-link">Add task</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
    <router-outlet></router-outlet>
</div>
</div>